<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RPG Interface</title>

	<link href="css/intro.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Ek+Mukta|Orbitron|Russo+One|Shojumaru|Bungee+Shade|Chewy|Boogaloo|Fredoka+One|Luckiest+Guy|Rum+Raisin|Bubblegum+Sans|Gloria+Hallelujah|" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
</head>

<body>
	<div id="intro">
    <div class="container">
      <h1>Classes</h1>
			<hr style="margin-bottom: 50px;">
			<h2>Tree of Savior has 4 base classes: Archer, Cleric, Swordsman and Wizard.</h2>
			<h2 style="margin-bottom: 50px;">These base classes can be advanced further, for a total of 80 classes, each with different abilities.</h2>
      <div class="character-box">
				<div class="class-title">
					<p>Swordsman</p>
				</div>
				<div class="class-title">
					<p>Wizard</p>
				</div>
				<div class="class-title">
					<p>Archer</p>
				</div>
        <div class="image-box">
					<div class="character-img-box" id="swordsman">
						<img src="assets/characters/swordman/male/swordsman.gif" alt="Swordsman Image" id="sw">
					</div>
					<div class="character-img-box" id="wizard">
						<img src="assets/characters/wizard/male/wizard.gif" alt="Wizard Image" id="wz">
					</div>
					<div class="character-img-box" id="archer">
						<img src="assets/characters/archer/male/archer.gif" alt="Archer Image" id="ar">
					</div>
        </div>
      </div>
			<div class="description-box">
				<div class="character-description-box">
					<img src="assets/logo/swordman/swordsman.png" alt="Swordsman Logo">	<p>> STR</p>
				</div>
				<div class="character-description-box">
					<img src="assets/logo/wizard/wizard.png" alt="Wizard Logo">	<p>> INT</p>
				</div>
				<div class="character-description-box">
					<img src="assets/logo/archer/archer.png" alt="Archer Logo">	<p>> DEX</p>
				</div>
			</div>
			<div class="start-button">
				<form class="" action="/className" method="post">
					<label>Your Name: </label>
					<input type="hidden" name="job" id="classInput" value="">
					<input type="text" name="player" value="" id="input_name" required="" style="background-color:rgb(255, 255, 179)">
					<input type="submit" class="button" value="Start">
				</form>
			</div>
    </div>
  </div>


	<script>
	let swordsman = document.getElementById('swordsman')
	let wizard = document.getElementById('wizard')
	let archer = document.getElementById('archer')
	let inputClass = document.getElementById('classInput')

	let swordmanImage = $("#sw")
	let wizardImage = $("#wz")
	let archerImage = $("#ar")

	swordsman.addEventListener("click", function(){
		inputClass.value = "Swordsman"

		swordsman.style.border = "2px solid white";
		swordsman.style.backgroundColor = "rgba(90,90,90,0.6)";
		wizard.style.border = "0px";
		wizard.style.backgroundColor = "inherit";
		archer.style.border = "0px";
		archer.style.backgroundColor = "inherit";
		swordmanImage.css("opacity","1")
	});
	wizard.addEventListener("click", function(){
		inputClass.value = "Wizard"

		wizard.style.border = "2px solid white";
		wizard.style.backgroundColor = "rgba(90,90,90,0.6)";
		archer.style.border = "0px";
		archer.style.backgroundColor = "inherit";
		swordsman.style.border = "0px";
		swordsman.style.backgroundColor = "inherit";
		wizardImage.css("opacity","1")
	});
	archer.addEventListener("click", function(){
		inputClass.value = "Archer"

		archer.style.border = "2px solid white";
		archer.style.backgroundColor = "rgba(90,90,90,0.6)";
		swordsman.style.border = "0px";
		swordsman.style.backgroundColor = "inherit";
		wizard.style.border = "0px";
		wizard.style.backgroundColor = "inherit";
		archerImage.css("opacity","1")
	});

	</script>
</body>

</html>
